body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
    padding: 30px;
    background-color: #2F5A78;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100%;
    height: auto;
}
/* Tamanhos diferentes para as imagens */
.item1 {
    grid-column: span 2; 
    grid-row: span 2; 
}
.item2 {
    grid-column: span 0;  
    grid-row: span 1; 
}
.item3 {
    grid-column: span 1;  
    grid-row: span 0; 
}
.item4 {
    grid-column: span 2; 
    grid-row: span 2; 
}
.item5 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item6 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item7 {
    grid-column: span 3; 
    grid-row: span 2; 
    }
.item8 {
    grid-column: span 1; 
    grid-row: span 1;  
}
.item9 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item10 {
    grid-column: span 1; 
    grid-row: span 1; 
}body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
    padding: 30px;
    background-color: #2F5A78;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-item {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100%;
    height: auto;
}
/* Tamanhos diferentes para as imagens */
.item1 {
    grid-column: span 2; 
    grid-row: span 2; 
}
.item2 {
    grid-column: span 0;  
    grid-row: span 1; 
}
.item3 {
    grid-column: span 1;  
    grid-row: span 0; 
}
.item4 {
    grid-column: span 2; 
    grid-row: span 2; 
}
.item5 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item6 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item7 {
    grid-column: span 3; 
    grid-row: span 2; 
    }
.item8 {
    grid-column: span 1; 
    grid-row: span 1;  
}
.item9 {
    grid-column: span 1; 
    grid-row: span 1; 
}
.item10 {
    grid-column: span 1; 
    grid-row: span 1; 
}